<div class="task-list">
    <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="heaader-icon lnr-database icon-gradient bg-malibu-beach"></i>
                Tasks List
            </div>
            <div class="btn-actions-pane-right text-capitalize actions-icon-btn dropdown">
                <button class="btn btn-icon btn-icon-only btn-link dropdown-toggle" (click)="showMenu()">
                    <!-- <fa></fa> -->
                    <i class="fa fa-th"></i>
                </button>
                <div class="dropdown-menu" [ngClass]="{'active': activeMenu}">
                    <button class="dropdown-item" *ngFor="let item of menuDropDown">
                        <i class="dropdown-icon" [ngClass]="item.type"></i>
                        <span>{{item.title}}</span>
                    </button>
                    <div class="dropdown-divider" tabindex="-1"></div>
                    <div class="p-1 text-right">
                        <button class="mr-2 btn-shadow btn-sm btn btn-link">View Details</button>
                        <button class="mr-2 btn-shadow btn-sm btn btn-primary">Action</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-area-lg">
            <div class="ps-shadow-limits">
                <div class="ps ps--active-y">
                    <div class="ps-ontent" >
                        <app-tasks-list-content></app-tasks-list-content>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumbs-x" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style ="top: 0px; height: 400px; right: 0px;">
                            <div class="ps__thubs-y" style="top: 0px; height: 297px;"></div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
        <div class="d-block text-right card-footer">
            <button class="mr-2 btn btn-link btn-sm">Cancel</button>
            <button class="btn btn-primary">Add Task</button>
        </div>
    </div>
</div>



