<div class="col-sm">
    <div class="card-hover">
        <div class="card-header">
            <div class="card-header-title">Tasks List</div>
            <div class="btn-actions-pane-right">
                <button class="btn-icon">
                    <i></i>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item">
                        <span></span>
                    </button>
                    <div class="dropdown-divider"></div>
                    <div class="p-1">
                        <button class="btn-shadow">View Details</button>
                        <button class="btn-shadow">Action</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-area">
        <div class="ps-content">
            <ul class="todo-list-wrapper">
                <li>
                    <div class="w"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
