<div class="portfolio">
    <div class="card-header-title">
        <div class="text">
            Portfolio Performance
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-warning">
                    <i></i>
                </div>
            </div>
            <div class="widget-subheading">Cash Deposits</div>
            <div>1,7M</div>
            <div class="d-inline text-danger">
                <i></i>
                <span class="pl-1">54.1%</span>
                less earnings </div>
        </div>
        <!-- <div class="col"></div>
        <div class="col"></div> -->
    </div>
    <div class="card-footer">
        <button>
            <span class="view">View Complete Report</span>
        </button>
    </div>
</div>
