<div class="mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
            Portfolio Performance
        </div>
    </div>
    <div class="no-gutters row">
        <div class="col-sm-6 col-md-4 col-xl-4" *ngFor="let item of listPortfoio">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                    <i class="pe-7s-album text-white opacity-8"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">{{item.title}}</div>
                    <div class="widget-numbers" [ngClass]="item.type">{{item.number}}
                        <span>{{item.price}}</span>
                    </div>
                    <div class="widget-description opacity-8 text-focus">
                        <span class="text-warning pl-1">
                            <!-- <fa>
                                <i></i>
                            </fa> -->
                            <!-- <span class="pl-1">{{item.percent}}</span> -->
                        </span>
                        <div class="d-inline text-danger pr-1">
                            <!-- <fa></fa> -->
                            <i class="fa fa-angle-down"></i>
                            <span class="pl-1">{{item.percent}}</span>
                        </div>
                        {{item.titlePercent}}
                    </div>
                </div>
            </div>
            <div class="divder m-0 d-md-none d-sm-block"></div>
        </div>
        <!-- <div class="col-sm-12 col-md-4 col-xl-4">
            <div class="card no-shadow rm-border bg-transparent widget-chart text left"></div>
        </div> -->
    </div>
    <div class="text-center d-block p-3 card-footer">
       <app-btn-view></app-btn-view>
    </div>
</div>

