<div>
    <app-page-title></app-page-title>
    <div class="col-md-8 mx-auto ">
        <div class="card">
            <div class="card-header">Basic</div>
            <div class="card-body">
                <div class="carousel slide">
                    <ol class="carousel-indicators">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let item of slides; let slideIndex = index">
                            <img src="{{item.img}}" alt="">
                            <div class="carousel-caption">
                                <h3>{{item.title}}</h3>
                                <p>{{item.desc}}</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev " role="button" (click)="goToPrevious()">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" role="button" (click)="goToNext()">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
