.text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    // display: flex;
    // flex-direction: column;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}