<table class="text-truncate">
    <caption>Company Agents Status</caption>
    <tr>
        <th>#</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Commpany</th>
        <th>Stats</th>
        <th>Due Date</th>
        <th>Target Achievement</th>
        <th>actions</th>
    </tr>
    <tr>
        <td class="text-center text-muted"></td>
        <td class="text-center"></td>
        <td class="text-center">
            <a href="#"></a>
        </td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
    </tr>
    <tfoot>
        <div class="d-block text-ceneter">
            <button class="btn-pill btn-show btn-wide"></button>
        </div>
    </tfoot>
</table>
