<!-- <table class="text-truncate">
    <caption>Company Agents Status</caption>
    <tr>
        <th>#</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Commpany</th>
        <th>Stats</th>
        <th>Due Date</th>
        <th>Target Achievement</th>
        <th>actions</th>
    </tr>
    <tr>
        <td class="text-center text-muted"></td>
        <td class="text-center"></td>
        <td class="text-center">
            <a href="#"></a>
        </td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
    </tr>
    <tfoot>
        <div class="d-block text-ceneter">
            <button class="btn-pill btn-show btn-wide"></button>
        </div>
    </tfoot>
</table> -->
<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Company Agents Status</div>
    </div>
    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Avatar</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Due Date</th>
                    <th class="text-center">Target Achievement</th>
                    <th class="text-center">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of agnetsStatusTable">
                    <td class="text-center text-muted">{{item.hashtag}}</td>
                    <td class="text-center">
                        <img class="rounded-circle" src="{{item.img}}" alt="">
                    </td>
                    <td class="text-center">
                        <a href="">{{item.name}}</a>
                    </td>
                    <td class="text-center">
                        <a href="">{{item.company}}</a>
                    </td>
                    <td class="text-center">
                        <app-status-btn></app-status-btn>
                    </td>
                    <td class="text-center">
                        <span class="pr-2 opacity-6">
                            <i class="fa fa-business-time"></i>
                        </span>
                        {{item.value}}
                    </td>
                    <td class="text-center">
                        <app-achievement></app-achievement>
                    </td>
                    <td class="text-center">
                        <app-actions></app-actions>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-block p-4 text-center card-footer">
        
    </div>
</div>
