<div>
    <app-page-title [heading]="heading" [subHeading]="subHeading" [icon]="icon"></app-page-title>
    <div class="col-md-8 mx-auto ">
        <div class="card">
            <div class="card-header">Basic</div>
            <div class="card-body">
                <div class="carousel slide">          
                    <div class="carousel-inner">
                        <app-slides [slides]="slides"></app-slides>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
