<div>
    <div class="card-header">Basic</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tableBasic">
                <th scope="row">{{item.title}}</th>
                <td>
                    <img class="mr-2" src="{{item.img}}" alt="" style="width: 20px;">
                    {{item.country}}
                </td>
                <td>{{item.area}}</td>
                <td>{{item.value}}</td>
            </tr>
        </tbody>
    </table>
</div>
