<div>
    <app-page-title></app-page-title>
    <div class="row">
        <div class="col-lg-6" *ngFor="let item of cardList">
            <div class="main-card mb-3 card" *ngIf="item.listButton">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <app-buttons [item]="btnItem" [className]="btnItem.className" *ngFor="let btnItem of item.listButton"></app-buttons>
                </div>
            </div>
            <div class="main-card mb-3 card" *ngFor="let btn of item.buttonGroup">
                <div class="card-body">
                    <h5 class="card-title">{{btn.title}}</h5>
                    <div class="text-center">
                        <app-buttons [item]="button" [className]="button.className" *ngFor="let button of btn.buttons"></app-buttons>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" *ngFor="let item of menu">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <div class="text-center">
                        <div class="btn-group btn-group-toggle" *ngFor="let subMenuItem of item.subMenu" [ngClass]="subMenuItem.type">
                            <label class="btn" *ngFor="let child of subMenuItem.children" [ngClass]="child.type">
                                {{child.title}}
                                <input type="checkbox">
                            </label>  
                            <div [className]="subMenuItem.className"></div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
