<div>
    <app-page-title [heading]="heading" [subHeading]="subHeading" [icon]="icon"></app-page-title>
    <div class="row">
        <div class="col-md-6" *ngFor="let item of list">
           <div *ngFor="let child of item.children">
            <h6 class="mb-3 mt-3">{{child.title}}</h6>
            <app-accordion-content [items]="child.data" [type]="child.type"></app-accordion-content>
            <!-- <div [ngClass]="child.divClass" *ngIf="child.divClass"></div> -->
            <!-- <div class="card mb-3 mt-3" *ngFor="let data of child.itemList">
                <div class="card-header">{{data.title}}</div>
                <div class="card-body">
                    <button  class="btn-primary btn">Toggle</button>
                    <div class="mt-3 collapsed" [ngClass]="{'active': data.active}">
                        <div class="card">
                            <div class="card-body">{{data.desc}}</div>
                        </div>
                    </div>
                </div>
            </div> -->
           </div>
        </div>
    </div>
</div>
