<div class="d-flex w-70">
  <div class="header-btn-lg pr-0 w-70">
    <div class="widget-content p-0 w-70">
      <div class="widget-content-wrapper w-70">
        <div class="widget-content-left w-70">
          <div class="btn-group dropdown w-70" (click)="showMenu()">
            <button class="btn btn-link p-0 mr-2 dropdown-toggle opacity-10 w-70">
              <span>
                <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                  <img class="rounded-circle" src="/assets/images/1.jpg" alt="" width="42">
                </div>
              </span>
            </button>
            <div class="dropdown-menu left-10" [ngClass]="{'active': activeMenu}">
              <div>
                <button class="dropdown-item">Menus</button>
                <button class="dropdown-item">Settings</button>
                <h6 class="dropdown-header pl-10 fsize-sm2 mt-10">Header</h6>
                <button class="dropdown-item">Actions</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item">divider</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>