<!-- <div class="btn-group dropdown">
    <div class="icon-wrapper">
      <img class="ronded-circle" src="/assets/images/1.jpg" alt="">
    </div>
    <span>
      <img src="https://icongr.am/entypo/triangle-down.svg?" alt="">
    </span>
</div> -->
<div class="d-flex">
  <div class="header-btn-lg pr-0">
    <div class="widget-content p-0">
      <div class="widget-content-wrapper">
        <div class="widget-content-left">
          <div class="btn-group dropdown">
            <button class="btn btn-link p-0 mr-2 dropdow-toggle">
              <span>
                <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                  <img class="rounded-circle" src="/assets/images/1.jpg" alt="" width="42">
                </div>
              </span>
            </button>
            <div class="dropdown-menu">
              <app-drop-down-menu></app-drop-down-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>