<div class="row">
    <div class="col-lg-6 col-xl-4" *ngFor="let item of orders">
        <div class="widget-content" [ngClass]="item.className">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">{{item.title}}</div>
                        <div class="widget-subheading">{{item.desc}}</div>
                    </div><div class="widget-content-right">
                        <div class="widget-numbers" [ngClass]="item.type">{{item.number}}</div>
                    </div>
                </div>
                <br>
                <div class="widget-progress-wrapper">
                    <div class="progress-bar-sm progress-bar-animated-alt progress">
                        <div  class="progress-bar"
                        [ngClass]="item.bgColor"
                        [ngStyle]="{width: item.value}"></div>
                    </div>
                    <div class="progress-sub-label">
                        <div class="sub-label-left">{{item.text}}</div>
                        <div class="sub-label-right">{{item.percent}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
