<!-- <app-page-title></app-page-title>
<div class="row">
    <div class="col-md-6" *ngFor="let column of menu">
        <div class="card-body">
            <h5 class="card-title">{{column.title}}</h5>
            <div class="vertical-time-simple ver  vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                <div 
                    class="vertical-timeline-element" 
                    [ngClass]="item.type">
                    <div>
                        <span class="vertical-timeline-element-icon bounce-in"></span>
                        <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="time-title">{{item.title}}</h4>
                            <div class="inline-block" *ngIf="item.descStatusBtn">
                                <app-status-btn [item]="item.descStatusBtn"  className="ml-2 fsize-0"></app-status-btn>
                            </div>
                             <p>
                                {{item.text}}
                                <span class="text-success">{{item.time}}</span>
                            </p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div> -->
