<app-page-title [heading]="heading" [subHeading]="subHeading" [icon]="icon"></app-page-title>
<div class="row">
    <div class="col-md-6" *ngFor="let item of list">
        <div class="card main-card mb-3" *ngFor="let child of item.children">
            <div class="card-header">{{child.title}}</div>
            <div class="card-body">
                <app-tab-content [type]="child.classType" [items]="child.data"></app-tab-content>   
            </div>
            <div *ngIf="child.buttons">
                <div class="divider"></div>
                <div class="text-center">
                    <div class="btn-group btn-group-toggle">
                        <label class="btn-outline-primary btn-sm btn" 
                        *ngFor="let btn of child.buttons"> 
                            <input type="radio">
                            {{btn.title}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
