<app-page-title></app-page-title>
<div class="row">
    <div class="col-md-6">
        <div class="card main-card mb-3">
            <div class="card-header"></div>
            <div class="card-body">
                <ul class="nav nav-tab justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link" data-content="Simple">Simple</a>
                    </li>
                    <li class="nav-item" data-content="Fancy title">
                        <a class="nav-link">Fancy title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Disabled</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" data-content="Simple">
                        <p class="mt-3">
                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                        </p>
                    </div>
                    <div class="tab-pane" data-content="Fancy title">
                        <p class="mt-3">
                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                        </p>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="text-center">
                <div class="btn-group btn-group-toggle">
                    <label class="btn-outeline-primary btn-sm btn">
                        <input type="checkbox">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
