.bg-danger, .badge-danger {
    background-color: #C71C22;
}
.bg-info, .badge-info {
    background-color:#2FA4E7;
}
.bg-warning, .badge-warning {
    background-color: #DD5600;
}

.bg-success, .badge-success {
    background-color: #73A839;
}
.bg-primary {
    background-color: #033C73 !important;
}
.bg-transparent {
    background: transparent;
}
.bg-plum-plate {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
}
.bg-lg {
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.bg-premium-dark {
    background-image: linear-gradient(to right, #434343 0%, black 100%) !important;
}
