.border {
  border: 1px solid #dee2e6;
}
.border-primary {
    border-color: #033C73; }

.border-secondary {
  border-color: #ced4da; }

.border-success {
  border-color: #73A839; }

.border-info {
  border-color: #2FA4E7; }

.border-warning {
  border-color: #DD5600; }

.border-danger {
  border-color: #C71C22; }

.border-light {
  border-color: #d5d9eb; }

.border-dark {
  border-color: #343a40; }

.border-focus {
  border-color: #6610f2; }

.border-alternate {
  border-color: #6f42c1; }
