
.btn {
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    background: transparent;
    font-size: .88rem;
    outline: none !important;
    position: relative;
    &.disabled {
        opacity: .65;
    }
    &:hover {
        cursor: pointer;
    }
}
.btn-lg {
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-sm {
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .25rem;
    // font-size: 1.25rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background: #033C73 linear-gradient(180deg, #295988, #033C73) repeat-x;
    border-color: #033C73;
    &:not(.disabled).active {
        background-color: #022241;
        background-image: none;
        border-color: #011c35;
    }
    &:hover {
        color: #fff;
        background: #02294e linear-gradient(180deg, #284968, #02294e) repeat-x;
        border-color: #022241;
    }
}
.btn-link {
    font-weight: 400;
    color: #033C73;
    background: transparent;
    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}
.btn-focus {
    color: #fff;
    background: #560bd0 linear-gradient(180deg, #7030d7, #560bd0) repeat-x;
    border-color: #510bc4;
    &.active {
        background-color: #510bc4;
        background-image: none;
        border-color: #4c0ab8;
    }
    &:hover {
        color: #fff;
        background: #560bd0 linear-gradient(180deg, #7030d7, #560bd0) repeat-x;
        border-color: #510bc4;
    }
}
.btn-secondary {
    color: #212529;
    background: #ced4da linear-gradient(180deg, #d5dae0, #ced4da) repeat-x;
    border-color: #ced4da;
    &.active {
        color: #212529;
        background-color: #b1bbc4;
        background-image: none;
        border-color: #aab4bf;
    }
    &:hover {
        color: #212529;
        background: #b8c1ca linear-gradient(180deg, #c3cad2, #b8c1ca) repeat-x;
        border-color: #b1bbc4;
    }
}
.btn-info {
    color: #fff;
    background: #2FA4E7 linear-gradient(180deg, #4eb2eb, #2FA4E7) repeat-x;
    border-color: #2FA4E7;
    &.active {
        background-color: #178acc;
        background-image: none;
        border-color: #1682c0;
    }
    &:hover {
        color: #fff;
        background: #1992d7 linear-gradient(180deg, #3ba2dd, #1992d7) repeat-x;
        border-color: #178acc;
    }
}
.btn-warning {
    color: #fff;
    background: #DD5600 linear-gradient(180deg, #e26f26, #DD5600) repeat-x;
    border-color: #DD5600;
    &.active {
        background-color: #aa4200;
        background-image: none;
        border-color: #9d3d00;
    }
    &:hover {
        color: #fff;
        background: #b74700 linear-gradient(180deg, #c26326, #b74700) repeat-x;
        border-color: #aa4200;
    }
}
.btn-danger {
    color: #fff;
    background: #C71C22 linear-gradient(180deg, #cf3e43, #C71C22) repeat-x;
    border-color: #C71C22;
    &.active {
        background-color: #9a161a;
        background-image: none;
        border-color: #8f1418;
    }
    &:hover {
        color: #fff;
        background: #a5171c linear-gradient(180deg, #b33a3e, #a5171c) repeat-x;
        border-color: #9a161a;
    }
}
.btn-alternate {
    color: #fff;
    background: #6f42c1 linear-gradient(180deg, #855eca, #6f42c1) repeat-x;
    border-color: #6f42c1;
    &.active {
        background-color: #59339d;
        background-image: none;
        border-color: #533093;
    }
    &:hover {
        color: #fff;
        background: #5e37a6 linear-gradient(180deg, #7655b4, #5e37a6) repeat-x;
        border-color: #59339d;
    }
}
.btn-light {
    color: #212529;
    background: #d5d9eb linear-gradient(180deg, #dbdfee, #d5d9eb) repeat-x;
    border-color: #d5d9eb;
    &.active {
        background-color: #b2badb;
        background-image: none;
        border-color: #aab2d6;
    }
    &:hover {
        color: #212529;
        background: #bbc2df linear-gradient(180deg, #c5cbe4, #bbc2df) repeat-x;
        border-color: #b2badb;
    }
}
.btn-success {
    color: #fff;
    background: #73A839 linear-gradient(180deg, #88b557, #73A839) repeat-x;
    border-color: #73A839;
    &.active {
        background-color: #59822c;
        background-image: none;
        border-color: #527829;
    }
    &:hover {
        color: #fff;
        background: #5f8b2f linear-gradient(180deg, #779d4e, #5f8b2f) repeat-x;
        border-color: #59822c;
    }
}
.btn-dark {
    color: #fff;
    background: #343a40 linear-gradient(180deg, #52585d, #343a40) repeat-x;
    border-color: #343a40;
    &.active {
        background-color: #1d2124;
        background-image: none;
        border-color: #171a1d;
    }
    &:hover {
        color: #fff;
        background: #23272b linear-gradient(180deg, #44474b, #23272b) repeat-x;
        border-color: #1d2124;
    }
}
