.hamburger {
    padding: 0px 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    .hamburger-box {
        width: 24px;
        height: 14px;
        display: inline-block;
        position: relative;
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 24px;
            height: 2px;
            background-color: #033C73;
            border-radius: 10px;
            position: absolute;
            display: block;
        }
        .hamburger-inner {
            // margin-top: -1px;
            top: 1px;
            transition-duration: 0.275s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &::before {
                content: '';
                top: 6px;
                transition: opacity 0.125s 0.275s ease;
            }
            &::after {
                content: '';
                bottom: -6px;
                top: 12px;
                transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
        }
    }
}