
.dot-danger  {
    .vertical-timeline-element-icon {
        background:  #C71C22 !important;
    }
}

.dot-warning {
    .vertical-timeline-element-icon {
       background: #DD5600 !important;
    }
}
.dot-success {
    .vertical-timeline-element-icon {
      background: #73A839 !important;
    }
}
.dot-primary {
    .vertical-timeline-element-icon {
       background: #033C73 !important;
    }
}
.dot-info {
    .vertical-timeline-element-icon {
        background: #2FA4E7 !important;
    }
}
.dot-dark {
    .vertical-timeline-element-icon {
        background: #343a40 !important;
    }   
}