

// .list-group-item-primary {
//     color: #021f3c;
//     background-color: #b8c8d8; }
//     .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
//       color: #021f3c;
//       background-color: #a8bbcf; }
//     .list-group-item-primary.list-group-item-action.active {
//       color: #fff;
//       background-color: #021f3c;
//       border-color: #021f3c; }
  
//   .list-group-item-secondary {
//     color: #6b6e71;
//     background-color: #f1f3f5; }
//     .list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
//       color: #6b6e71;
//       background-color: #e2e6ea; }
//     .list-group-item-secondary.list-group-item-action.active {
//       color: #fff;
//       background-color: #6b6e71;
//       border-color: #6b6e71; }
  
  
    .list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
      color: #3c571e;
      background-color: #cbdfb6; }
    // .list-group-item-success.list-group-item-action.active {
    //   color: #fff;
    //   background-color: #3c571e;
    //   border-color: #3c571e; }
  
  
//     .list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
//       color: #185578;
//       background-color: #aedcf5; }
//     .list-group-item-info.list-group-item-action.active {
//       color: #fff;
//       background-color: #185578;
//       border-color: #185578; }
  

//     .list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
//       color: #732d00;
//       background-color: #f2c1a2; }
//     .list-group-item-warning.list-group-item-action.active {
//       color: #fff;
//       background-color: #732d00;
//       border-color: #732d00; }
  

//     .list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
//       color: #670f12;
//       background-color: #eaabad; }
//     .list-group-item-danger.list-group-item-action.active {
//       color: #fff;
//       background-color: #670f12;
//       border-color: #670f12; }
  
//   .list-group-item-light {
//     color: #6f717a;
//     background-color: #f3f4f9; }
//     .list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
//       color: #6f717a;
//       background-color: #e2e4f1; }
//     .list-group-item-light.list-group-item-action.active {
//       color: #fff;
//       background-color: #6f717a;
//       border-color: #6f717a; }
  
//   .list-group-item-dark {
//     color: #1b1e21;
//     background-color: #c6c8ca; }
//     .list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
//       color: #1b1e21;
//       background-color: #b9bbbe; }
//     .list-group-item-dark.list-group-item-action.active {
//       color: #fff;
//       background-color: #1b1e21;
//       border-color: #1b1e21; }
  
//   .list-group-item-focus {
//     color: #35087e;
//     background-color: #d4bcfb; }
//     .list-group-item-focus.list-group-item-action:hover, .list-group-item-focus.list-group-item-action:focus {
//       color: #35087e;
//       background-color: #c5a4fa; }
//     .list-group-item-focus.list-group-item-action.active {
//       color: #fff;
//       background-color: #35087e;
//       border-color: #35087e; }
  
//   .list-group-item-alternate {
//     color: #3a2264;
//     background-color: #d7caee; }
//     .list-group-item-alternate.list-group-item-action:hover, .list-group-item-alternate.list-group-item-action:focus {
//       color: #3a2264;
//       background-color: #c8b7e8; }
//     .list-group-item-alternate.list-group-item-action.active {
//       color: #fff;
//       background-color: #3a2264;
//       border-color: #3a2264; }

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    .list-group-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background: #fff;
        border: 1px solid rgba(3, 60, 115, 0.08);
        // border-left: 0;
        // border-right: 0;
        &:first-child {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }
        &:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }
        &.active {
            z-index: 2;
            color: #fff;
            background-color: #033C73;
            border-color: #007bff;
        }
        &.disabled {
            color: #6c757d;
            pointer-events: none;
            background-color: #fff;
        }
    }
    .list-group-item-action {
        width: 100%;
        color: #495057;
        text-align: inherit;
    }
    .list-group-item-danger {
        color: #670f12;
        background-color: #efbfc1; 
    }
    .list-group-item-warning {
        color: #732d00;
        background-color: #f5d0b8; 
    }
    .list-group-item-info {
        color: #185578;
        background-color: #c5e6f8; 
    }
    .list-group-item-success {
        color: #3c571e;
        background-color: #d8e7c8; 
    }
}
.list-group-flush {
    .list-group-item {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }
}
.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
}