.widget-progress-wrapper {
    .progress {
        display: flex;
        height: 1rem !important;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: .25rem;
        .progress-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            text-align: center;
            transition: width .6s ease;
        }
    }
    .progress-sub-label {
        margin-top: .3rem;
        opacity: .5;
        display: flex;
        align-items: center;
        .sub-label-right {
            margin-left: auto;
        }
    }

}
