.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    th {
        vertical-align: bottom;
    }
    tr{
        display: table-row;
        border-color: inherit;
        vertical-align: inherit; 
        th,td {
            padding: 0.55rem;
            vertical-align: top;
        }
    }
}
.table-reponsive {
    display: block;
    width: 100%;
    overflow-x: auto
}
table {
    border-collapse: collapse;
}
.table-striped {
    thead {
        th {
            vertical-align: bottom;
            border-bottom: 2px solid #e9ecef;
        }
    }
    th,td {
        border-top: 1px solid #e9ecef;
    }
    tbody {
        tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
}

