
.tooltip {
    // opacity: 0;
    transition: opacity .2s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    .arrow {
        position: absolute;
        display: block;
        width: .8rem;
        height: .4rem;

        &::before {
            border-color: transparent;
            border-style: solid;
            content: "";
            position: absolute;
        }
    }
    .tooltip-inner {
        // max-width: 200px;
        padding: .25rem .5rem;
        color: #fff;
        text-align: center;
        background-color: #000;
        border-radius: .25rem;
    }
}
.bs-tooltip-top {
    transform: translate(539px , 14px);
    padding: .4rem 0;
    .arrow {
        left: calc(50% - .4rem);
        bottom: 0;
        &::before {
            border-top-color: #000;
            border-width: .4rem .4rem 0;
            top: 0px;
        }
    }
}
.bs-tooltip-right {
    transform: translate(774px , 59px);
    padding: 0 .4rem;
    .arrow {
        top: calc(50% - .4rem); 
        left: 0;
        height: .8rem;
        width: .4rem;
        &::before {
            right: 0;
            border-width: .4rem .4rem .4rem 0;
            border-right-color: #000;
            display: block;
        }
    }
}
.bs-tooltip-bottom {
    transform: translate(790px , 91px);
    padding: .4rem 0;
    .arrow {
        left: calc(50% - .4rem);
        top: 0;
        &::before {
            border-width: 0 .4rem .4rem;
            border-bottom-color: #000;
            bottom: 0;
        }
    }
}
.bs-tooltip-left {
    transform: translate(807px , 59px);
    padding: 0 .4rem;
    .arrow {
        top: calc(50% - .4rem);
        width: .4rem;
        height: .8rem;
        right: 0;
        &::before {
            border-width: .4rem 0 .4rem .4rem;
            left: 0;
            border-left-color: #000;
        }
    }
   
}