
.widget-chart.text-left{
    flex-direction: row;
    align-items: center;
    .icon-wrapper {
        min-width: 54px;
        margin: 0 1rem 0 0;
    }
    .widget-chart-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        .widget-description {
            align-self: flex-start;
            max-width: 1rem 0 0;
        }
    }
  
}
.widget-chart {
    padding: 1rem !important;
    position: relative;
    .widget-subheading {
        margin: -0.5rem 0 0;
        display: block;
        opacity: .6;
        &:first-child {
            margin-top: 0;
        }
    }
    .widget-numbers {
        font-weight: bold;
        font-size: 2.5rem;
        display: block;
        line-height: 1;
        margin: 1rem auto;
        margin-left: 0;
    }
   
}
.widget-content {
    padding: $padding-spacer;
    flex-direction: row;
    align-items: center;
    &:hover {
        .widget-content-right.widget-content-actions {
            visibility: visible;
            opacity: 1;
        }
    }
    .widget-content-outer {
        display: flex;
        flex: 1;
        flex-direction: column;
       
    }
    .widget-content-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        align-items: center;
        .widget-content-right {
            margin-left: auto;
            &.widget-content-actions {
                visibility: hidden;
                opacity: 0;
                transition: opacity .2s;
                &:hover {
                    visibility: visible;
                }
            }
            .widget-numbers {
                font-weight: bold;
                font-size: 1.8rem;
                display: block;
            }
        }
        .widget-content-left {
            .widget-heading {
                font-weight: $font-bold;
                opacity: .8;
                &.pb-6 {
                    padding-bottom: .5rem;
                }
            }
            .widget-subheading {
                opacity: .5;
            }
        }
    }
    .icon-wrapper[class*="border-"] {
        border-width: 1px;
        border-style: solid;
    }
}
.widget-content:hover .widget-content-right.widget-content-actions {
    visibility: visible;
    opacity: 1;
}
