.bg-danger, .badge-danger {
    background-color: #C71C22;
}
.bg-info, .badge-info {
    background-color:#2FA4E7;
}
.bg-warning, .badge-warning {
    background-color: #DD5600;
}

.bg-success, .badge-success {
    background-color: #73A839;
}
