.icon-wrapper {
    display: flex;
    align-items: center;
    i {
        margin: 0 auto;
        font-size: 1.7rem;
        position: relative;
        z-index: 5;
    }
}

.icon-wrapper .icon-wrapper-bg {
    position: absolute;
    height: 100%;
    z-index: 3;
}