.app-sidebar {
    display: flex;
    z-index: 20;
    overflow: hidden;
    width: 280px;
    position: fixed;
    height: 100vh;
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
    transition: all .3s ease;
    flex-direction: column;
    .app-header__logo {
        background: #fafbfc;
        padding: 0 1.5rem;
        height: 60px;
        width: 280px;
        display: flex;
        align-items: center;
        transition: width .2s;
        flex-shrink: 0;
    }
    .app-sidebar-content {
        background: #ffffff;
        flex-grow: 1;
        display: flex;
        width: 100%;
        .app-sidebar-scroll {
            width: 100%;
            height: 100%;
            .v-sidebar-menu {
                width: auto;
                padding: 0 1.5rem 1.5rem;
                .ng-star-inserted {
                    overflow: hidden;
                    box-shadow: 0 0 0 0 transparent;
                    border: 0 !important;
                    padding: .1rem 0;
                    background: transparent;
                    &:first-of-type {
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;

                    }
                    .card-header{
                        padding: 0;
                        margin: 0;
                        border-radius: 0;
                        border: 0;
                        height: auto;
                        background: transparent;
                        .vsm-header {
                            text-transform: uppercase;
                            font-size: .8rem;
                            margin: .75rem 0;
                            font-weight: bold;
                            color: #033C73;
                            position: relative;
                        }
                        .vsm-link {
                            display: block;
                            line-height: 2.4rem;
                            height: 2.4rem;
                            padding: 0 1.5rem 0 45px;
                            border-radius: .25rem;
                            color: #495057;
                            position: relative;
                            transition: all .2s;
                            text-decoration: none;
                            border: 0;
                            cursor: pointer;
                            text-align: left;
                            width: 100%;
                            background: transparent;
                            .vsm-icon {
                                text-align: center;
                                width: 34px;
                                height: 34px;
                                line-height: 34px;
                                position: absolute;
                                left: 5px;
                                top: 50%;
                                margin-top: -17px;
                                font-size: 1.5rem;
                                opacity: .3;
                                transition: color 300ms;
                            }
                            .vsm-title {
                                position: relative;
                                white-space: nowrap;
                                font-weight: normal;

                            }
                            .vsm-arrow {
                                transform: rotate(0deg);
                                font-weight: bold;
                                text-align: center;
                                width: 34px;
                                height: 34px;
                                line-height: 34px;
                                position: absolute;
                                right: 5px;
                                top: 50%;
                                margin-top: -27px;
                                font-size: 1.5rem;
                                font-style: normal;
                                opacity: .3;
                                transition: all 300ms;
                                &::after {
                                    content: '\e688';
                                    font-family: 'Pe-icon-7-stroke';
                                }
                            }
                        }
                        .collapse {
                            transition: all .26s ease;
                            transform-origin: top;
                            display: block !important;
                            .card-body {
                                padding: 0;
                                .vsm-dropdown {
                                    position: relative;
                                    &::before {
                                        content: '';
                                        height: 100%;
                                        opacity: 1;
                                        width: 3px;
                                        background: #d1f3ff;
                                        position: absolute;
                                        left: 20px;
                                        top: 0;
                                        border-radius: 15px;
                                        .vsm-list {
                                            padding: .75rem 0 .75rem 2.25rem;
                                            .vsm-item {
                                                .vsm-link {
                                                    font-weight: normal;
                                                    padding: 0 1rem;
                                                    height: 1.9rem;
                                                    line-height: 1.9rem;
            
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}