.widget-chart.text-left .icon-wrapper {
    min-width: 54px;
    margin: 0 1rem 0 0;
}
.widget-chart {
    padding: 1rem;
    position: relative;
    .widget-subheading {
        margin: -0.5rem;
        display: block;
        opacity: .6;
    }
    .widget-numbers {
        font-size: bold;
        font-size: 2.5rem;
        display: block;
        line-height: 1;
        margin: 1rem auto;
    }
}
.widget-chart.text-left {
    flex-direction: row;
    align-items: center;
    .widget-chart-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
    }
    .widget-numbers {
        margin-left: 0;
    }
}
.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    .widget-content-outer {
        display: flex;
        flex: 1;
        flex-direction: column;
        .widget-content-wrapper {
            display: flex;
            flex: 1;
            position: relative;
            align-items: center;
            .widget-content-right {
                margin-left: auto;
            }
        }
    }
}