<div class="accordion" *ngFor="let item of items">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-link" [ngClass]="{'disabled': item.disabled}" (click)="changeView(item)">
                <span class="card-header--title">{{item.title}}</span>
            </button>
        </div>
        <div class="collapsed" [ngClass]="{'active': item.active}">
            <div class="card-body">
                {{item.text}}
            </div>
        </div>
    </div>
</div>

