// .dropdown {
//     display: inline;
// }
.dropdown-toggle-split {
    border-left: rgba(255, 255, 255, 0.1) solid 2px;
    padding-right: 0.5625rem;
    padding-left: 0.5625rem;
    margin-left: -1px;
    transform: translateY(-2px);
}