<div>
    <app-page-title></app-page-title>
    <div class="row" *ngFor="let item of menu">
        <div class="col-lg-6" *ngFor="let child of item.children">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">{{child.title}}</h5>
                    <div class="dropDown d-inline-block">
                        <app-buttons [item]="child.listButton"></app-buttons>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
