<div>
    <app-page-title [heading]="heading" [subHeading]="subHeading" [icon]="icon"></app-page-title>
    <div class="row">
        <div class="col-md-6" *ngFor="let item of progressbar">
            <div class="card main-card mb-3" *ngFor="let subMenuItem of item.subMenu">
                <div class="card-header">{{subMenuItem.title}}</div>
                <div class="card-body widget-progress-wrapper">
                    <div class="p" *ngFor="let child of subMenuItem.children">
                        <div [ngClass]="child.type">
                            <div class="progress" [ngStyle]="{height: child.height}">
                                <div class="progress-bar" [ngClass]="'bg-'+child.type"  [ngStyle]="{width: child.percent}"  [className]="child.className">
                                    {{child.desc}}
                                    <span *ngIf="child.text">{{child.text}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
