<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <button class="hamburger close-sidebar-btn hamburger--elastic" type="button" appTooltip placement="bottom" tooltipClass="bs-tooltip-bottom" title="menu">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-sidebar-content">
        <div class="app-sidebar-scroll">
            <app-perfect-scrollbar class="ps-show-limits"></app-perfect-scrollbar>
        </div>
    </div>
</div>