<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="icon pe-7s-plane icon-gradient bg-tempting-azure"></i>
            </div>
            <div>
                Analytics Dashboard
                <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.</div>
            </div>
        </div>
        <div class="page-title-actions">
            <button class="btn-shadow mr-3 btn btn-dark">
                <!-- <fa>i bayad dakhel in bshe</fa> -->
                <i></i>
            </button>
            <button class="btn-shadow d-inline-flex align-items-center btn btn-success">
                <!-- <fa></fa> -->
                <i></i>
                Create New
            </button>
        </div>
    </div>
</div>

