<div class="page-title-wrapper">
    <div class="page-title-heading">
        <div>
            <img src="" alt="">
        </div>
        <div>
            Analytics Dashboard
            <div>This is an example dashboard created using build-in elements and components.</div>
        </div>
    </div>
    <div class="page-title-actions">
        <button class="btn-shadow btn-dark"></button>
        <button class="btn-shadow btn-success">
            Create New
        </button>
    </div>
</div>

