<div class="card-body">
    <h5 class="card-title">Grid</h5>
    <form>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="exampleEmail">Email</label>
            <div class="col-sm-10">
                <input class="form-control" type="email" id="exampleEmail" name="email" placeholder="with a placeholder">
            </div>
        </div>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="examplePassword">Password</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" id="examplePassword" name="password" placeholder="password placeholder">
            </div>
        </div>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="exampleSelect">Select</label>
            <div class="col-sm-10">
                <input class="form-control" id="exampleSelect" name="select">
            </div>
        </div>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="exampleSelectMulti">SelectMulti</label>
            <div class="col-sm-10">
                <select class="form-control" name="SelectMulti" id="exampleSelectMulti" multiple="multiple"></select>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="exampleText">Text Area</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="exampleText" name="text"></textarea>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="exampleFile">File</label>
            <div class="col-sm-10">
                <input class="form-control rm-border fsize-sm " type="file" id="exampleFile" name="file">
                <small class="form-text text-muted">
                    This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
                </small>
            </div>
        </div>
        <fieldset class="position-relative row form-group">
            <legend class="col-form-label col-sm-2">Radio Buttons</legend>
            <div class="col-sm-10">
                <div class="position-relative form-check">
                    <label class="form-check-label">
                        <input type="radio" name="radio2" class="form-check-input">
                        Option one is this and that—be sure to include why it's great
                    </label>
                </div>
                <div class="position-relative form-check">
                    <label class="form-check-label">
                        <input type="radio" name="radio2" class="form-check-input">
                        Option two can be something else and selecting it will deselect option one
                    </label>
                </div>
                <div class="position-relative form-check disabled">
                    <label class="form-check-label">
                        <input type="radio" name="radio2" class="form-check-input" disabled="disabled">
                        Option three is disabled
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="checkbox2">Checkbox</label>
            <div class="col-sm-10">
                <div class="position-relative form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" id="checkbox2" type="checkbox">
                         Check me out
                    </label>
                </div>
            </div>
        </div>
        <div class="position-relative row form-check">
            <div class="col-sm-10 offset-sm-2">
                <button class="btn btn-secondary">Submit</button>
            </div>
        </div>
    </form>
</div>
