.container {
    box-sizing: border-box;
    // display: flex;
    // .vertical {
    //     float: left;
    //     height: 100vh;
    //     width: 280px;
    //     margin: 0;
    //     border: 1px solid;
    // }
    .app-main__outer {
        display: inline-block;
        float: right;
        width: calc(100% - 284px);
        height: 100vh;
        border: 1px solid;
        margin: 0;
    }
}