// colors
// $white: #fff;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #868e96;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
// $black: #000;

// $blue:    #0d6efd !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #d63384 !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #198754 !default;
// $teal:    #20c997 !default;
// $cyan:    #0dcaf0 !default;

$danger: #C71C22;
$info: #2FA4E7;
$warning: #DD5600;
$primary: #033C73;

//fonts
$font-size-base: 1rem;
$font-wight-normal: 400;
$font-bold: bold;

//spacer 
//padding
$padding-spacer: 1rem;
//margin
$margin-spacer: 1rem;

//line-height
$line-height-base: 1;