<ul class="pagination">
    <li class="page-item">
        <a class="page-link">
            <span>««</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link">
            <span>«</span>
        </a>
    </li>
    <li class="page-item" *ngFor="let item of items">
        <a class="page-link">
            <span>{{item.text}}</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link">
            <span>»</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link">
            <span>»»</span>
        </a>
    </li>
</ul>
