<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="icon icon-gradient bg-tempting-azure"></i>
            </div>
            <div>
                <!-- {{heading}} -->
                <div class="page-title-subheading"></div>
            </div>
        </div>
        <div class="page-title-actions">
            <button class="btn-shadow mr-3 btn btn-dark" type="button" appTooltip title="man injam" >
                <i class="fa fa-star"></i>
            </button>
            <button class="btn-shadow d-inline-flex align-items-center btn btn-success">
                <i class="fa fa-plus"></i>
                Create New
            </button>
        </div>
    </div>
</div>

