<!-- <div class="card-hover">
    <div class="card-header">
        <div class="card-header-title">Timeline Example</div>
    </div>
    <div class="ps">
        <div class="ps-content">
            <div class="p-4">
                <div class="vertical-time-simple">
                    <div class="vertical-timeline-element">
                        <div>
                            <span class="bounce-in"></span>
                            <div class="content">
                                <h4></h4>
                                <div></div>
                                <p>
                                    <span class="text-success"></span>
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="d-block card-footer">
        <button class="btn-shadow">View All message</button>
    </div>
</div> -->
<div class="ps">
    <div class="ps-content">
        <div class="v-sidebar-menu vsm-default">
            <div class="vsm-list">
                <div class="accordion">
                    <div class="card ng-star-inserted" *ngFor="let item of menuSide">
                        <div class="card-header" id="ngb-panel-0-header">
                            <div class="vsm-header ng-star-inserted" *ngFor="let menuTitleItem of item.menuTitle">{{menuTitleItem.title}}</div>
                            <button class="vsm-link ng-star-inserted" >
                                <i class="vsm-icon pe-7s-browser"></i>
                                <span class="vsm-title">{{item.title}}</span>
                                <i class="vsm-arrow"></i>
                            </button>
                        </div>
                        <div class="collapse ng-star-inserted">
                            <div class="card-body">
                                <div class="vsm-dropdown ng-star-inserted" *ngFor="let subMenuItem of item.subMenu ">
                                    <div class="vsm-item">
                                        <a href="" class="vsm-link">
                                            <span class="vsm-title">{{subMenuItem.title}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
