
<div class="ps">
    <div class="ps-content">
        <div class="v-sidebar-menu vsm-default">
            <div class="vsm-list">
                <div class="accordion">
                    <div class="card ng-star-inserted" *ngFor="let item of menuSide">
                        <div class="card-header" id="ngb-panel-30-header">
                            <div class="vsm-header ng-star-inserted" *ngFor="let menuTitleItem of item.menuTitle">{{menuTitleItem.title}}</div>
                            <button class="vsm-link ng-star-inserted" >
                                <i class="vsm-icon pe-7s-browser"></i>
                                <span class="vsm-title">{{item.title}}</span>
                                <i class="vsm-arrow"></i>
                            </button>
                        </div>
                        <div class="collapse ng-star-inserted">
                            <div class="card-body">
                                <div class="vsm-dropdown ng-star-inserted" *ngFor="let subMenuItem of item.subMenu ">
                                    <div class="vsm-list">
                                        <div class="vsm-item">
                                            <a href="" class="vsm-link">
                                                <span class="vsm-title">{{subMenuItem.title}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
