<div class="analytics">
   <div class="app-theme-white">
        <app-page-title></app-page-title>
   </div>
    <app-performance></app-performance>
    <app-agents-status></app-agents-status>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <app-technical-support class="h-100"></app-technical-support>
        </div>
        <div class="col-sm-12 col-lg-6">
            <app-timeline class="h-100"></app-timeline>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <app-tasks-list></app-tasks-list>
        </div>
        <div class="col-sm-12 col-lg-6">
            <app-sales-report></app-sales-report>
        </div>
    </div>
    <app-orders></app-orders> 
    <!-- <div class="card mb-3"></div> -->
</div>
