.app-theme-white .app-page-title{
    background: rgba(255, 255, 255, 0.45);
}
.app-page-title {
    padding: 30px;
    margin-bottom: 30px;
    margin: -30px -30px 30px;
    .page-title-wrapper {
        padding: 0 !important;
        display: flex;  
        align-items: center;
        .page-title-heading {
            font-size: 1.25rem;
            font-weight: 400;
            display: flex;
            align-content: center;
            align-items: center;
            .page-title-icon {
                font-size: 2rem;
                display: flex;
                align-items: center;
                text-align: center;
                padding: 0.83rem;
                margin: 0 30px 0 0;
                background: #fff;
                box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
                border-radius: 0.25rem;
                width: 60px;
                height: 60px;
                i {
                    margin: auto;
                }
            }
            .page-title-subheading {
                padding: 3px 0 0;
                font-size: .88rem;
                opacity: .6;
            }
        }
        .page-title-actions {
            margin-left: auto;
        }
    }
    
}
//  .app-page-title, .page-title-wrapper {
//     position: relative;
// }
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;  
    margin-left: -15px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.app-main__inner {
    padding: 30px 30px 0;
    flex: 1
}
.app-main__outer {
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 8;
    transition: all .2s;
}
.rm-border {
    border-width: 0
}
.rounded-circle {
    border-radius: 50% !important;
}

// .bg-warning {
//     background-color: #DD5600;
// }
.align-middle {
    vertical-align: middle;
}

@import "/src/assets/style/components/dots.scss";
@import "/src/assets/style/components/table.scss";
@import "/src/assets/style/components/helpers.scss";
@import "/src/assets/style/components/widget.scss";
@import "/src/assets/style/components/card.scss";
@import "/src/assets/style/components/btn.scss";
@import "/src/assets/style/components/col.scss";
@import "/src/assets/style/components/text.scss";
@import "/src/assets/style/components/icon.scss";
@import "/src/assets/style/components/reboot.scss";
@import "/src/assets/style/components/img.scss";
@import "/src/assets/style/components/badge.scss";
@import "/src/assets/style/components/progress.scss";
@import "/src/assets/style/components/font.scss";
@import "/src/assets/style/components/background.scss";
@import "/src/assets/style/components/btn-group.scss";
@import "/src/assets/style/components/scroll.scss";
@import "/src/assets/style/components/timeline.scss";
@import "/src/assets/style/components/border.scss"