

$pe-7s-font-path: "../node_modules/pe7-icon/dist/fonts" !default;
// @import "../node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";

// $pe-7s-font-path: "~pe7-icon/dist/fonts";
// @import "~pe7-icon/dist/scss/pe-icon-7-stroke.scss";

.app-theme-white .app-page-title{
    background: rgba(255, 255, 255, 0.45);
}
.app-page-title {
    padding: 30px;
    margin-bottom: 30px;
    margin: -30px -30px 30px;
    .page-title-wrapper {
        padding: 0 !important;
        display: flex;  
        align-items: center;
        .page-title-heading {
            font-size: 1.25rem;
            font-weight: 400;
            display: flex;
            align-content: center;
            align-items: center;
            .page-title-icon {
                font-size: 2rem;
                display: flex;
                align-items: center;
                text-align: center;
                padding: 0.83rem;
                margin: 0 30px 0 0;
                background: #fff;
                box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
                border-radius: 0.25rem;
                width: 60px;
                height: 60px;
                i {
                    margin: auto;
                }
            }
            .page-title-subheading {
                padding: 3px 0 0;
                font-size: .88rem;
                opacity: .6;
            }
        }
        .page-title-actions {
            margin-left: auto;
        }
    }
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;  
    margin-left: -15px;
}
.no-gutters {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    > [class*="col-"] {
        padding: 0;
    }
}
.no-shadow {
    box-shadow: 0 0 0 transparent !important;
}

.app-main__outer {
    flex: 1;
    flex-direction: column;
    padding: 60px 0 0 280px;
    display: flex;
    z-index: 8;
    transition: all .2s;
<<<<<<< HEAD
    padding: 60px 0 0 280px;
=======
    .app-main__inner {
        padding: 30px 30px 0;
        flex: 1
    }
>>>>>>> d683653b1d09695ddd219e658de99797cc90fbe7
}

.app-logo-inverse {
    height: 23px;
    width: 97px;
    background: url(/assets/images/logo.png);
}
.rm-border {
    border-width: 0
}
.rounded-circle {
    border-radius: 50%;
}
.rounded {
    border-radius: .25rem !important;
}
.dropdown {
    position: relative;
}
.align-middle {
    vertical-align: middle;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}
.d-block {
    display:  block !important;
}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}
.float-left {
    float: left;
    margin-right: .25rem; 
}
.float-right {
    float: right;
    margin-left: .25rem
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
@import "/src/assets/variables/variables";
@import "/src/assets/style/components/dots.scss";
@import "/src/assets/style/components/table.scss";
@import "/src/assets/style/components/helpers.scss";
@import "/src/assets/style/components/widget.scss";
@import "/src/assets/style/components/card.scss";
@import "/src/assets/style/components/btn.scss";
@import "/src/assets/style/components/col.scss";
@import "/src/assets/style/components/text.scss";
@import "/src/assets/style/components/icon.scss";
@import "/src/assets/style/components/reboot.scss";
@import "/src/assets/style/components/image.scss";
@import "/src/assets/style/components/badge.scss";
@import "/src/assets/style/components/progress.scss";
@import "/src/assets/style/components/font.scss";
@import "/src/assets/style/components/background.scss";
@import "/src/assets/style/components/btn-group.scss";
@import "/src/assets/style/components/opacity.scss";
@import "/src/assets/style/components/scroll.scss";
@import "/src/assets/style/components/timeline.scss";
@import "/src/assets/style/components/border.scss";
@import "/src/assets/style/components/list-group.scss";
@import "/src/assets/style/components/dropdown.scss";
@import "/src/assets/style/components/type.scss";
@import "/src/assets/style/components/scroll-bar";
@import "/src/assets/style/components/header";
@import "/src/assets/style/components/search";
@import "/src/assets/style/components/sidebar-menu.scss";
@import "/src/assets/style/components/burger-menu";
@import "/src/assets/style/components/modal";
@import "/src/assets/style/components/form";
@import "/src/assets/style/components/custom"

