<!-- <div>
    <app-page-title></app-page-title>
    <div class="row">
        <div class="col-md-6" *ngFor="let item of menu">
            <div class="main-card card mb-3" *ngFor="let child of item.children">
                <div class="card-body">
                    <h5 class="card-title">{{child.title}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let btn of child.buttons">
                            <button class="list-group-item list-group-action">{{btn.title}}</button>
                        </li>
                        <li class="list-group-item" *ngFor="let li of child.items">
                            {{li.title}}
                            <span class="badge badge-secondary badge-pill" *ngIf="li.descBtn">{{li.descBtn}}</span>
                        </li>
                        <li class="list-group-item" *ngFor="let subMenuItem of child.subMenu">
                            <h5 class="list-group-item-heading">{{subMenuItem.title}}</h5>
                            <p class="list-group-item-text">{{subMenuItem.desc}}</p>
                        </li>
                        <li class="list-group-item" *ngFor="let listItem of child.list">
                            <a class="list-group-item">{{listItem.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
