<div class="menu-container">
    <div class="menu-burger">
        <app-menu-burger></app-menu-burger>
    </div>
    <div class="v-sidebar-menu">
        <div class="menu"  *ngFor="let item of menuSide">
            <div class="card-h" *ngFor="let menuTitleItem of item.menuTitle">{{menuTitleItem.item}}</div>
            <div class="card">
                <div class="card-header" >
                    <div class="vsm-link">
                        <i></i>
                        <span>{{item.title}}</span>
                        <i></i>
                    </div>
                </div>
                <div class="show">
                    <div class="card-body" *ngFor="let subMenuItem of item.subMenu">
                        <div class="vsm-dropdown">
                           <div class="vsm-list">
                            <div class="vsm-item">
                                <a class="vsm-link" href="">
                                    <span class="vsm-title">{{subMenuItem.title}}</span>
                                </a>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
